<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.nanos87.sparkpedal">

    <uses-feature android:name="android.hardware.usb.host"
        android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ConnectActivity" android:screenOrientation="portrait" android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
                <!--<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />-->
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ControlActivity"
            android:screenOrientation="portrait"
            >

        </activity>
        <service
            android:name="de.nanos87.sparkpedal.UsbService"
            android:enabled="true">
        </service>
        <service
            android:name="de.nanos87.sparkpedal.BtService"
            android:enabled="true">
        </service>
    </application>

</manifest>